<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 grade">
      <div class="header cell"><br/>Name</div>
    </div>
    <% @week.days.order(:date).each do |day| %>
      <% col_width = day.today? ? 3 : 2 %>
      <div class="col-md-<%= col_width %>">
        <div class="header cell <%= "text-info" if day.today? %>">
          <%= day.name %><br/><%= day.date.strftime("%-m/%d") %>
        </div>
      </div>
    <% end %>
  </div>
  <% @rows.each do |row| %>
    <div class="row">
      <div class="col-md-1 grade">
        <div class="cell"><%= row.name %></div>
      </div>
      <% @week.days.order(:date).each do |day| %>
        <% col_width = day.today? ? 3 : 2 %>
        <div class="col-md-<%= col_width %>">
          <div class="day cell <%= "bg-info" if day.today? %>">
            <ul>
              <% if day.items_for_row(row).any? %>
                <% day.items_for_row(row).each do |item| %>
                  <li>
                    <% if item.url %>
                      <%= link_to item.text, item.url %>
                    <% else %>
                      <%= item.text %>
                    <% end %>
                  </li>
                <% end %>
              <% else %>
                <li>Dbl click to add items.</li>
              <% end %>
            </ul>
            <%= form_tag items_day_path(day), class: "items_form" do %>
              <%= text_area_tag "items", day.items_for_row(row).map{|item| item.text + (item.url ? " [#{item.url}]" : "") }.join("\n\n"), rows: 5 %>
              <br>
              <%= hidden_field_tag :row_id, row.id %>
              <%= submit_tag "Update", class: "btn btn-primary" %>
              <%= submit_tag "Cancel", class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @rows.any? %>
    <div class="row">
      <div class="col-md-1 navigation-prev">
        <% if @week.prev_week %>
          <%= link_to "< Previous", year_week_url(@week.year, @week.prev_week) %>
        <% end %>
      </div>
      <% offset = @week.days.any?(&:today?) ? 4 : 3 %>
      <div class="col-md-2 col-md-offset-<%= offset %>">
        <%= form_tag for_date_year_path(@week.year), class: "navigation-form", method: :get do %>
          <div class="input-group">
            <%= text_field_tag "date", "", placeholder: "Jump to date", class: "form-control" %>
            <span class="input-group-btn"><%= submit_tag "Go", class: "btn btn-primary" %></span>
          </div>
        <% end %>
      </div>
      <div class="col-md-1 col-md-offset-4 navigation-next">
        <% if @week.next_week %>
          <%= link_to "Next >", year_week_url(@week.year, @week.next_week) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <%= form_tag year_rows_path(@week.year), method: :post, id: "add-row-form" do %>
      <%= hidden_field_tag "name", "", id: "add-row-name" %>
    <% end %>
    <% col_width = @week.days.any?(&:today?) ? 12 : 11 %>
    <div class="col-md-<%= col_width %>">
      <%= submit_tag "+ Add Row", class: "btn btn-primary", style: "width: 100%;", id: "btn-add-row" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $("#date").datepicker({dateFormat: "yy-mm-dd"});

    var week = new Week();
    week.init();
  });
</script>
