<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 grade">
      <div class="header cell"><br/>Grade</div>
    </div>
    <% @week.days.order(:date).each do |day| %>
      <% col_width = day.today? ? 3 : 2 %>
      <div class="col-md-<%= col_width %>">
        <div class="header cell <%= "text-info" if day.today? %>">
          <%= day.name %><br/><%= day.date.strftime("%-m/%d") %>
        </div>
      </div>
    <% end %>
  </div>
  <% [6,7,8].each do |grade| %>
    <div class="row">
      <div class="col-md-1 grade">
        <div class="cell"><%= grade %></div>
      </div>
      <% @week.days.order(:date).each do |day| %>
        <% col_width = day.today? ? 3 : 2 %>
        <div class="col-md-<%= col_width %>">
          <div class="day cell <%= "bg-info" if day.today? %>">
            <ul>
              <% if day.items_for_grade(grade).any? %>
                <% day.items_for_grade(grade).each do |item| %>
                  <li>
                    <% if item.url %>
                      <%= link_to item.text, item.url %>
                    <% else %>
                      <%= item.text %>
                    <% end %>
                  </li>
                <% end %>
              <% else %>
                <li>Dbl click to add items.</li>
              <% end %>
            </ul>
            <%= form_tag items_day_path(day), class: "items_form" do %>
              <%= text_area_tag "items", day.items_for_grade(grade).map{|item| item.text + (item.url ? " [#{item.url}]" : "") }.join("\n\n"), rows: 5 %>
              <br>
              <%= hidden_field_tag :grade, grade %>
              <%= submit_tag "Update", class: "btn btn-primary" %>
              <%= submit_tag "Cancel", class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-1 navigation-prev">
      <% if @week.prev_week %>
        <%= link_to "< Previous", year_week_url(@week.year, @week.prev_week) %>
      <% end %>
    </div>
    <div class="col-md-1 col-md-offset-10 navigation-next">
      <% if @week.next_week %>
        <%= link_to "Next >", year_week_url(@week.year, @week.next_week) %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var week = new Week();
    week.init();
  });
</script>
