<table>
  <tr>
    <th>Grade</th>
    <% @week.days.order(:date).each do |day| %>
      <th><%= day.name %><br/><%= day.date.strftime("%-m/%d") %></th>
    <% end %>
  </tr>
  <% [6,7,8].each do |grade| %>
    <tr>
      <td class="grade"><%= grade %></td>
      <% @week.days.order(:date).each do |day| %>
        <td class="day">
          <ul>
            <% day.items_for_grade(grade).each do |item| %>
              <li>
                <% if item.url %>
                  <%= link_to item.text, item.url %>
                <% else %>
                  <%= item.text %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= form_tag items_day_path(day) do %>
            <%= text_area_tag "items", day.items_for_grade(grade).map{|item| "#{item.text} [#{item.url}]" }.join("\n\n") %>
            <br>
            <%= hidden_field_tag :grade, grade %>
            <%= submit_tag "Update" %>
            <%= submit_tag "Cancel", class: "cancel" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(function() {
    var week = new Week();
    week.init();
  });
</script>
