<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 header grade cell"><br/>Grade</div>
    <% @week.days.order(:date).each do |day| %>
      <div class="col-md-2 header cell"><%= day.name %><br/><%= day.date.strftime("%-m/%d") %></div>
    <% end %>
  </div>
  <% [6,7,8].each do |grade| %>
    <div class="row">
      <div class="col-md-1 grade cell"><%= grade %></div>
      <% @week.days.order(:date).each do |day| %>
        <div class="col-md-2 day cell">
          <ul>
            <% day.items_for_grade(grade).each do |item| %>
              <li>
                <% if item.url %>
                  <%= link_to item.text, item.url %>
                <% else %>
                  <%= item.text %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= form_tag items_day_path(day) do %>
            <%= text_area_tag "items", day.items_for_grade(grade).map{|item| item.text + (item.url ? " [#{item.url}]" : "") }.join("\n\n"), rows: 5 %>
            <br>
            <%= hidden_field_tag :grade, grade %>
            <%= submit_tag "Update", class: "btn btn-primary" %>
            <%= submit_tag "Cancel", class: "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    var week = new Week();
    week.init();
  });
</script>
